<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>seatClass</key>
		<string>First</string>
		<key>price</key>
		<integer>120</integer>
		<key>flightId</key>
		<string>LH6374</string>
		<key>date</key>
		<date>2015-07-20T19:11:54Z</date>
		<key>departure</key>
		<string>Mallorca</string>
		<key>departureShort</key>
		<string>PMI</string>
		<key>destination</key>
		<string>Frankfurt</string>
		<key>destinationShort</key>
		<string>FRA</string>
        <key>seat</key>
        <string>24B</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>Business</string>
        <key>price</key>
        <integer>850</integer>
        <key>flightId</key>
        <string>LH6374</string>
        <key>date</key>
        <date>2015-09-15T19:11:54Z</date>
        <key>departure</key>
        <string>Los Angeles</string>
        <key>departureShort</key>
        <string>LAX</string>
        <key>destination</key>
        <string>Frankfurt</string>
        <key>destinationShort</key>
        <string>FRA</string>
        <key>seat</key>
        <string>2H</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>Economy</string>
        <key>price</key>
        <integer>285</integer>
        <key>flightId</key>
        <string>ACN1322</string>
        <key>date</key>
        <date>2015-08-04T19:11:54Z</date>
        <key>departure</key>
        <string>Amsterdam</string>
        <key>departureShort</key>
        <string>AMS</string>
        <key>destination</key>
        <string>Hamburg</string>
        <key>destinationShort</key>
        <string>HAM</string>
        <key>seat</key>
        <string>38C</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>First</string>
        <key>price</key>
        <integer>800</integer>
        <key>flightId</key>
        <string>AA5386</string>
        <key>date</key>
        <date>2015-08-01T00:11:54Z</date>
        <key>departure</key>
        <string>Los Angeles</string>
        <key>departureShort</key>
        <string>LAX</string>
        <key>destination</key>
        <string>New York</string>
        <key>destinationShort</key>
        <string>NY</string>
        <key>seat</key>
        <string>10A</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>First</string>
        <key>price</key>
        <integer>120</integer>
        <key>flightId</key>
        <string>LH6374</string>
        <key>date</key>
        <date>2015-07-20T19:11:54Z</date>
        <key>departure</key>
        <string>Mallorca</string>
        <key>departureShort</key>
        <string>PMI</string>
        <key>destination</key>
        <string>Frankfurt</string>
        <key>destinationShort</key>
        <string>FRA</string>
        <key>seat</key>
        <string>1A</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>Business</string>
        <key>price</key>
        <integer>1370</integer>
        <key>flightId</key>
        <string>AUH6374</string>
        <key>date</key>
        <date>2015-06-10T19:11:54Z</date>
        <key>departure</key>
        <string>Munich</string>
        <key>departureShort</key>
        <string>MUC</string>
        <key>destination</key>
        <string>Dubai</string>
        <key>destinationShort</key>
        <string>DXB</string>
        <key>seat</key>
        <string>13C</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>Economy</string>
        <key>price</key>
        <integer>300</integer>
        <key>flightId</key>
        <string>GER4452</string>
        <key>date</key>
        <date>2015-06-30T19:11:54Z</date>
        <key>departure</key>
        <string>Hamburg</string>
        <key>departureShort</key>
        <string>HAM</string>
        <key>destination</key>
        <string>Amsterdam</string>
        <key>destinationShort</key>
        <string>AMS</string>
        <key>seat</key>
        <string>60G</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>First</string>
        <key>price</key>
        <integer>120</integer>
        <key>flightId</key>
        <string>LH6374</string>
        <key>date</key>
        <date>2015-07-20T19:11:54Z</date>
        <key>departure</key>
        <string>Mallorca</string>
        <key>departureShort</key>
        <string>PMI</string>
        <key>destination</key>
        <string>Frankfurt</string>
        <key>destinationShort</key>
        <string>FRA</string>
        <key>seat</key>
        <string>90A</string>
    </dict>
    <dict>
        <key>seatClass</key>
        <string>Business</string>
        <key>price</key>
        <integer>300</integer>
        <key>flightId</key>
        <string>AA2754</string>
        <key>date</key>
        <date>2015-07-02T19:11:54Z</date>
        <key>departure</key>
        <string>Los Angeles</string>
        <key>departureShort</key>
        <string>LAX</string>
        <key>destination</key>
        <string>San Francisco</string>
        <key>destinationShort</key>
        <string>SFO</string>
        <key>seat</key>
        <string>42C</string>
    </dict>
 </array>
</plist>
